{% extends 'layout.html' %}
{% block title %}My Page{% endblock %}
{% block head %}
{% parent %}
<link rel="stylesheet" href="../css/index.css">
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/systemjs/0.20.2/system.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
<script src="../scripts/index.js"></script>
{% endblock %}
{% block content %}
	<div class="hand" id="thumb">
		<div class="finger"></div>
		<div class="finger"></div>
		<div class="finger"></div>
		<div class="finger"></div>
		<div class="finger thumb"></div>
		<div class="arm"></div>
	</div>
	<span class="hide" id="animation">+1</span>
	<script type="text/javascript">
	SystemJS.config({
		baseURL: '/scripts'
	});
	SystemJS.import('index-es.js').then(function(m) {
	        //将thumb挂载到jquery中的操作
	        $.extend({
	        	thumb: m.default.Thumb

	        });
	        callBack();//new出来的回调，实现点击事件

	    });
	function callBack(){
		var f = new $.thumb(0, $('#thumb'));
		f.clickAction();
	}
	</script>
{% endblock %}

